body{
  background-image: url("../air-atmosphere-blue-blue-sky-314726.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box;
  color: #dcdcdc;
  margin: 0;
  padding: 0;
}

.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}